<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"] - Uppgift2</title>
</head>
<body>
    <div class="header">
        <p style="float:left"><i class="fab fa-dyalog"></i> RAZOR PAGES</p>
        <p style="float:right">@ViewBag.dateSession</p>
        <h1>Uppgift 2</h1>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <a asp-area="" asp-controller="Home" asp-action="Index">START</a>
                <a asp-area="" asp-controller="Home" asp-action="Courses">Courses</a>
                <a asp-area="" asp-controller="Home" asp-action="Calculate">Calculate</a>
            </div>
        </div>

        <div class="rightcolumn">
            @RenderBody()
        </div>

    </div>

    <footer class="footer">
        <p>Av Mohsen Ali Mohsen - kontakta mig via e-post: momo1600@gmail.com</p>
    </footer>

</body>
</html>

