@{
    ViewBag.Title = "Calculate Page";
}

<h2 class="txt">Welcome to calculate Page</h2>

<form asp-controller="Home" asp-action="Add" method="post">

    <div class="input-container">
        <i class="icon"></i>
        <input id="num1" type="number" name="num1" class="input-field" required />
    </div>

    <div class="input-container">
        <i class="icon"></i>
        <input id="num2" type="number" name="num2" class="input-field" required />
    </div>

    <input id="btn" type="submit" value="CALCULATE" class="btn" />
</form>


<h2 class="txt">@ViewBag.SumResult</h2>